# Node.js
node_modules/
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.log
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Directories for compiled output
/dist
/build

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
